@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* taskmanager-486c5 */

/* 
// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyCNFdXhpKdj5yjSjlJ9GwQI83gpYjKusHQ",
  authDomain: "taskmanager-486c5.firebaseapp.com",
  projectId: "taskmanager-486c5",
  storageBucket: "taskmanager-486c5.appspot.com",
  messagingSenderId: "103429210131",
  appId: "1:103429210131:web:5af67d30d404e82ec53fe6"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig); */
